#1. Importing Libraries

In [9]:
import pandas as pd
import numpy as np

#2. Sample Datasets

In [10]:
# Dataset 1: Student Information
data1 = {
    'StudentID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [21, 22, np.nan, 24, 25],
    'Email': ['alice@example.com', None, 'charlie@abc.com', 'david@xyz.com', 'eve@example.com']
}

df1 = pd.DataFrame(data1)

# Dataset 2: Marks Information
data2 = {
    'StudentID': [101, 102, 103, 106],
    'Marks': [88, 76, 90, 85]
}

df2 = pd.DataFrame(data2)

#3. Data Cleaning Examples

3.1 Checking for Null Values

In [11]:
print("Null values in df1:\n", df1.isnull().sum())

Null values in df1:
 StudentID    0
Name         0
Age          1
Email        1
dtype: int64

3.2 Show first few rows

In [12]:
print("Head:")
print(df1.head())

Head:
   StudentID     Name   Age              Email
0        101    Alice  21.0  alice@example.com
1        102      Bob  22.0               None
2        103  Charlie   NaN    charlie@abc.com
3        104    David  24.0      david@xyz.com
4        105      Eve  25.0    eve@example.com

3.3 Info about datatypes and nulls

In [13]:
print("\nInfo:")
print(df1.info())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  5 non-null      int64
 1   Name       5 non-null      object
 2   Age        4 non-null      float64
 3   Email      4 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes
None

3.4 Statistical summary

In [14]:
print("\nDescribe:")
print(df1.describe())

Describe:
        StudentID        Age
count    5.000000   4.000000
mean   103.000000  23.000000
std      1.581139   1.825742
min    101.000000  21.000000
25%    102.000000  21.750000
50%    103.000000  23.000000
75%    104.000000  24.250000
max    105.000000  25.000000

#4. Pandas Joins

4.1 Inner Join (Only matching StudentIDs)

In [15]:
inner_join = pd.merge(df1, df2, on='StudentID', how='inner')
print("Inner Join:\n", inner_join)

Inner Join:
    StudentID     Name   Age              Email  Marks
0        101    Alice  21.0  alice@example.com     88
1        102      Bob  22.0               None     76
2        103  Charlie   NaN    charlie@abc.com     90

4.2 Left Join (All from df1, matching from df2)

In [16]:
left_join = pd.merge(df1, df2, on='StudentID', how='left')
print("Left Join:\n", left_join)

Left Join:
    StudentID     Name   Age              Email  Marks
0        101    Alice  21.0  alice@example.com   88.0
1        102      Bob  22.0               None   76.0
2        103  Charlie   NaN    charlie@abc.com   90.0
3        104    David  24.0      david@xyz.com    NaN
4        105      Eve  25.0    eve@example.com    NaN